@inherits LayoutComponentBase
@inject SisWeb.Services.Session.ISessionHelper session
@inject IUriHelper uriHelper
@using SisWeb.Services.Session

<body class=" ">
    <!-- START TOPBAR -->
    <div class='page-topbar '>
        <div class='logo-area'>

        </div>
        <div class='quick-area'>

            <div class='float-left'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile list-inline-item showopacity">
                        <button onclick="@GoBackUrl" class="btn btn-link" style="color:white; width:50px; text-decoration: underline;">Zpět</button>
                    </li>
                    <li class="profile list-inline-item showopacity">
                        <button onclick="@GoForwardUrl" class="btn btn-link" style="color:white; width:50px;text-decoration: underline;">Vpřed</button>
                    </li>
                </ul>
            </div>

            <div class='float-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile list-inline-item showopacity">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <img src="/data/profile/profile.jpg" alt="user-image" class="rounded-circle img-inline">
                            <span>@GetUserFullName() &nbsp;<i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li class="dropdown-item">
                                <a href="/login">
                                    <i class="fa fa-user"></i>
                                    Login
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/settings">
                                    <i class="fa fa-wrench"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="#" onclick="@Logout">
                                    <i class="fa fa-lock"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

        <div class="page-sidebar fixedscroll">

            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">

                <div class="profile-info row">
                    <div class="profile-details col-8">
                       
                    </div>
                </div>
              

                <ul class='wraplist' style="height: auto;">

                    @{
                        UserSession userSession = session.GetSession();
                    }

                    @if (userSession.Localities != null)
                    {
                        @foreach (var loc in userSession.Localities)
                        {
                            <li class="@IsDisabled(loc)">
                                <a onclick="@(e => ViewObjekt(@loc))" href="#" class="">
                                    <i class="fa fa-cube"></i>
                                    <span class="title">@loc.LocalityName</span>
                                    <span class="arrow open"></span>
                                </a>

                                <ul class="sub-menu">
                                    @foreach (var obj in loc.Objekty)
                                    {
                                        <li>
                                            <a onclick="@(e => ViewObjekt(@loc))" href="#">
                                                <span class="title">@obj.objekt</span>
                                                <span class="arrow "></span>
                                            </a>

                                            @if (obj.Plovaky.Count != 0)
                                            {
                                                <ul class="sub-menu" style="display:block;">
                                                    <li>
                                                        <a class="" href="#" onclick="@(e => ViewPlovak(@loc.LocalityId.ToString(), obj.objekt_id.ToString()))">
                                                            @("plovák")
                                                            <i class="fa fa-area-chart"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    };

                </ul>
            </div>

        </div>
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <section class="wrapper main-wrapper row" style=''>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->
                @Body
                <!-- MAIN CONTENT AREA ENDS -->
            </section>
        </section>
        <!-- END CONTENT -->

        <div class="chatapi-windows ">

        </div>
    </div>
</body>



@functions {

    string GetUserFullName()
    {
        UserSession userSession = session.GetSession();
        return userSession.AuthInformation?.FullName ?? "";
    }

    string IsDisabled(SisWeb.Services.Dto.Sis.LocalityModelDto model)
    {
        if (!model.IsLocal)
            return "disabled";

        return "";
    }

    void GoBackUrl()
    {
        UserSession userSession = session.GetSession();
        if (!string.IsNullOrEmpty(userSession.BackUrl))
        {
            uriHelper.NavigateTo(userSession.BackUrl);
        }
    }

    void GoForwardUrl()
    {
        UserSession userSession = session.GetSession();
        if (!string.IsNullOrEmpty(userSession.ForwardUrl))
        {
            uriHelper.NavigateTo(userSession.ForwardUrl);
        }
    }

    void Logout()
    {
        UserSession userSession = session.GetSession();
        userSession.Clear();
        session.SaveSession(userSession);

        uriHelper.NavigateTo("/login");
    }

    void ViewObjekt(SisWeb.Services.Dto.Sis.LocalityModelDto model)
    {
        if (!model.IsLocal)
            return;

        bool reload = false;

        UserSession userSession = session.GetSession();
        if (userSession.NavigateModel.ObjektType == "objekt" && userSession.NavigateModel.LocalityId != model.LocalityId.Value.ToString())
        {
            reload = true;
        }

        userSession.NavigateModel.ObjektType = "objekt";
        userSession.NavigateModel.Action = "View";
        userSession.NavigateModel.LocalityId = model.LocalityId.ToString();
        userSession.NavigateModel.ObjektId = "";
        userSession.SetLocality(model.LocalityId.Value);
        session.SaveSession(userSession);

        if (reload)
        {
            // jeden krok navic
            uriHelper.NavigateTo("\\");
        }

        uriHelper.NavigateTo("/objekt");
    }

    void ViewPlovak(string localityId, string objektId)
    {
        bool reload = false;

        UserSession userSession = session.GetSession();
        if (userSession.NavigateModel.ObjektType == "plovak" && userSession.NavigateModel.ObjektId != objektId)
        {
            reload = true;
        }

        userSession.NavigateModel.ObjektType = "plovak";
        userSession.NavigateModel.Action = "View";
        userSession.NavigateModel.LocalityId = localityId;
        userSession.NavigateModel.ObjektId = objektId;
        userSession.SetLocality(Convert.ToInt32(localityId));
        session.SaveSession(userSession);

        if (reload)
        {
            // jeden krok navic
            uriHelper.NavigateTo("\\");
        }

        uriHelper.NavigateTo("/plovak");
    }
}