@page "/object"
@inject IUriHelper uriHelper
@inject SisWeb.Services.Session.ISessionHelper session
@inject SisWeb.Services.SisCore.IObjectService objectService
@using SisWeb.Services.Dto.Sis

@*<PopupComponent IsPopupOpen="@_isPopupOpen" Animation="PopupComponent.AnimationType.FadeIn" Title="A Popup Demo Title" />
    <button type="button" class="btn btn-primary" onclick="@(e => OpenPopup())"><span class="oi oi-plus"></span> Open Popup</button>*@

@if (objects == null)
{
    <p><em>Loading data...</em></p>
}
else
{
    <BlazorGrid Items="@objects" PageSize="10">
        <GridHeader>
            <th width="280px">Objekt</th>
            <th>Typ objektu</th>
            <th>Oblast</th>
            <th>Náhled</th>
            <th>Upravit</th>
            <th>Odstranit</th>
            <th>Akce</th>
        </GridHeader>
        <GridRow Context="obj">
            <td>@obj.objekt</td>
            <td>@obj.typ</td>
            <td>@obj.oblast</td>
            <td><a href="objectdetail/View/@obj.objekt_id">Náhled</a></td>
            <td><a href="objectdetail/Edit/@obj.objekt_id">Upravit</a></td>
            <td><a href="objectdetail/Remove/@obj.objekt_id">Odstranit</a></td>
            <td>
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Akce</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="plovak/@obj.objekt_id.Value.ToString()">Plovák</a>
                        </div>
                    </li>
                </ul>
            </td>
        </GridRow>
    </BlazorGrid>
}

@functions {

    bool isPopupOpen;
    List<ObjectModelDto> objects;

    protected override async Task OnInitAsync()
    {
        if (!session.AuthInformation.IsAuthentized)
        {
            uriHelper.NavigateTo("/login");
            return;
        }

        objects = objectService.GetObjects();

        base.OnInit();
    }

    void OnDropDownClickPlovak()
    {

    }

    void OpenPopup()
    {
        isPopupOpen = true;
        StateHasChanged();
    }

}
