@page "/plovak"

@using SisWeb.Services.Dto.Sis
@using SisWeb.Services.SisCore
@using ChartJs.Blazor.ChartJS.LineChart
@using SisWeb.Graphs
@using Microsoft.Extensions.Configuration;
@using SisWeb.Services.Session

@inject IUriHelper uriHelper
@inject SisWeb.Services.Session.ISessionHelper session
@inject SisWeb.Services.SisCore.IPlovakService plovakService
@inject IConfiguration configuration

@if (plovaks == null)
{
    <p><em>Loading data...</em></p>
}
else
{
    <ConfirmDialog IsPopupOpen="@isPopupOpen" Animation="ConfirmDialog.AnimationType.FadeIn" ActionMethod="@RemoveObject" Descr="@removeQuestion" Title="Opravdu chcete odstranit záznam?" />
    isPopupOpen = false;

    <Row>
        <Column>
            <button class="btn btn-primary" onclick="@GoBack">Zpět na objekt</button>
            @*<button class="btn btn-primary" onclick="@UpdateChart">Obnov graf</button>*@
        </Column>
    </Row>


    <ChartJsLineChart ref="lineChartJs" Config="@lineChartConfig" Width="600" Height="200" />
    
    <br />

    <TelerikGrid Data=@plovaks Pageable="true" PageSize=20 Sortable="true">

        <TelerikGridColumns>
            <TelerikGridColumn Title="Měřeno" Field=@nameof(PlovakModelDto.Merenos) />
            <TelerikGridColumn Title="Napětí panel" Field=@nameof(PlovakModelDto.NapetiPanel) />
            <TelerikGridColumn Title="Napětí Aku" Field=@nameof(PlovakModelDto.NapetiAku) />
            <TelerikGridColumn Title="Poznámka" Field=@nameof(PlovakModelDto.Poznamka) />

            <TelerikGridCommandColumn>
                <TelerikGridCommandButton Command="View" Icon="edit" OnClick="TriggerView">Náhled</TelerikGridCommandButton>
                <TelerikGridCommandButton Command="Edit" Icon="edit" OnClick="TriggerEdit">Upravit</TelerikGridCommandButton>
                <TelerikGridCommandButton Command="Delete" Icon="delete" OnClick="TriggerRemove">Odstranit</TelerikGridCommandButton>
            </TelerikGridCommandColumn>
        </TelerikGridColumns>

    </TelerikGrid>
}

@functions {

    private List<PlovakModelDto> plovaks;

    private string UserAction { get; set; }
    private string LocalityId { get; set; }
    private string ObjektId { get; set; }

    public LineChartConfig lineChartConfig { get; set; }
    ChartJsLineChart lineChartJs;

    bool isPopupOpen = false;
    string removeQuestion = "";
    int removeId = 0;
    private UserSession userSession = null;

    protected override void OnInit()
    {
        userSession = session.GetSession();
        if (!userSession.AuthInformation.IsAuthentized)
        {
            uriHelper.NavigateTo("/login");
            return;
        }

        LocalityId = userSession.NavigateModel.LocalityId;
        ObjektId = userSession.NavigateModel.ObjektId;
        UserAction = userSession.NavigateModel.Action;

        userSession.SetLocality(Convert.ToInt32(LocalityId));
        ((PlovakService)(plovakService)).SetConnectionString();

        plovaks = new List<PlovakModelDto>();
        userSession.BackUrl = $"/objekt";

        LoadData();

        base.OnInit();
    }

    void LoadData()
    {
        var data = plovakService.GetPlovaky(Convert.ToInt32(ObjektId));
        plovaks.Clear();
        plovaks.AddRange(data);

        var graphSection = configuration.GetSection("Graph");
        var settingsSection = graphSection.GetSection("Settings");
        int maxRecords = settingsSection.GetValue<int>("MaxRecords");
        int verticalRangeMin = settingsSection.GetValue<int>("VerticalRangeMin");
        int verticalRangeMax = settingsSection.GetValue<int>("VerticalRangeMax");

        var lineChartSvc = new LineChartService();
        var plovaksForGraph = plovaks.Take(maxRecords).OrderBy(x => x.Mereno).ToList();
        lineChartConfig = lineChartSvc.GetConfiguration("Plováky", plovaksForGraph, verticalRangeMin, verticalRangeMax);
    }

    void GoBack()
    {
        uriHelper.NavigateTo(userSession.BackUrl);
    }

    void OnSearch()
    {
        LoadData();
        StateHasChanged();
    }

    void UpdateChart()
    {
        LoadData();
        StateHasChanged();
    }

    void RemoveObject()
    {
        var obj = plovakService.GetSingle(removeId);
        obj.delete_u = userSession.AuthInformation.Username;
        obj.delete_d = DateTime.Now;
        plovakService.Save(obj);
        LoadData();
        StateHasChanged();
    }

    void ViewDetail(string action, int id)
    {
        userSession.NavigateModel.Action = action;
        userSession.NavigateModel.PlovakId = id.ToString();
        uriHelper.NavigateTo("/plovakdetail");
    }

    void TriggerView(Telerik.Blazor.Components.Grid.GridCommandEventArgs args)
    {
        var item = (args.Item as PlovakModelDto);
        ViewDetail("View", item.PlovakId.Value);
    }

    void TriggerEdit(Telerik.Blazor.Components.Grid.GridCommandEventArgs args)
    {
        var item = (args.Item as PlovakModelDto);
        ViewDetail("Edit", item.PlovakId.Value);
    }

    void TriggerRemove(Telerik.Blazor.Components.Grid.GridCommandEventArgs args)
    {
        var item = (args.Item as PlovakModelDto);

        isPopupOpen = true;
        removeId = item.PlovakId.Value;
        if (item.Mereno != null)
            removeQuestion = $"Opravdu chcete odstranit: {item.Mereno.Value.ToString("dd.MM.yyyy HH:mm:ss")} ?";
        else
            removeQuestion = $"Opravdu chcete položku : {item.PlovakId} ?";

        StateHasChanged();
    }

}
